body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: aliceblue;
}

main {
    flex: 1;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
}

/* _______________/ ÁREA DA NAVBAR \_______________ */
.navbar {
    /* Barra de navegação fixa no topo */
    display: flex;
    position: relative;
    height: 100px;
    background: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    /* Área destinada ao logo */
    text-align: left;
}

.logo a {
    /* Título do logo */
    font-family: "Times New Roman", Times, serif;
    color: aliceblue;
    font-size: 28px;
    text-decoration: none;
}

.hamburger {
    /* Menu de hambúrguer para responsividade  */
    display: none;
    position: relative;
    font-size: 28px;
    background: none;
    color: aliceblue;
    z-index: 1000;
    border: none;
    cursor: pointer;
}

.menu {
    /* Área destinada ao menu à direita */
    display: flex;
    gap: 20px;
    right: 10%;
    margin-left: auto;
    list-style: none;
    z-index: 999;
}

.menu a {
    /* Links do menu */
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
}

.menu a:hover {
    /* Efeito ao passar o mouse nos links */
    color: #FF2978;
    border-top: 4px solid #3a2ba1;
    transition: 0.5s;
}

/* _______________/ ÁREA DA PÁGINA PRINCIPAL \_______________ */
.hero {
    display: flex;
    flex-flow: row wrap;
    min-height: auto;
    padding-left: 15%;
    gap: 80px;
}

.texto-hero {
    /* Texto inicial da página principal */
    max-width: 600px;
    margin-top: 50px;
}

.titulos-hero {
    display: flex;
    flex-direction: column-reverse;
}

.titulos-hero h1 {
    font-size: 55px;
    margin-top: auto;
}

.titulos-hero h2 {
    font-weight: 500;
}

.texto-hero p {
    margin-top: auto;
    font-size: 24px;
}

.contatar {
    /* Botão de formularioo.formulario */
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    background: #3a2ba1;
    padding: 20px;
    font-size: 18px;
    border-radius: 12px;
}

.contatar:hover {
    background: #FF2978;
    transition: 0.5s;
}

.foto-perfil {
    margin-right: 5%;
    flex: 40%;
    max-width: 100%;
    text-align: center;
    margin-top: 40px;
}

.foto-perfil img {
    max-width: 400px;
    border-radius: 12px;
    filter: contrast(110%) brightness(90%);
}

/* _______________/ ÁREA DA PÁGINA "SOBRE"  \_______________ */
.sobre-wrapper {
    /* Container da seção sobre */
    display: flex;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.sobre-texto {
    /* Caixa de texto "Sobre mim" */
    max-width: 580px;
    padding: 20px;
    text-align: center;
}

.titulo {
    /* Título da seção */
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    text-align: center;
}

.morcego {
    /* Ícone morcego animado */
    display: inline-block;
    animation: voar 1s infinite alternate;
}

@keyframes voar {

    /* Animação do morcego */
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}

.sobre-texto p {
    /* Texto da seção sobre */
    font-size: 18px;
    line-height: 1.5;
}

.sobre-img {
    /* Container das imagens da seção sobre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.sobre-img img {
    /* Imagens estilizadas */
    width: 300px;
    height: 400px;
    border-radius: 12px;
}

/* _______________/ ÁREA DA PÁGINA DE CONTATOS \_______________ */
.secao-contato {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    text-align: center;
    gap: 32px;
    margin-top: 5%;
}

.titulo-contato {
    display: flex;
    flex-direction: column-reverse;
    text-transform: uppercase;
    line-height: 0;
}

.titulo-contato h1 {
    font-size: 24px;
}

.titulo-contato h2 {
    font-size: 32px;
}

.tipos-contato {
    display: flex;
    padding: 12px;
    margin-right: 12px;
    gap: 20px;
}

.contato-cartao {
    display: block;
    position: relative;
    width: 200px; /* Altera o tamanho do cartão */
    padding: 20px;
    background: black;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    text-decoration: none;
    border-radius: 12px;
}

.contato-oculto {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: aliceblue;
    font-size: 24px;
}

.contato-cartao:hover img {
    display: none;
}

.contato-cartao:hover .texto-contato {
    display: none;
}

.contato-cartao:hover .contato-oculto {
    display: flex;
    background: url("../img/fantasmas.png");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}
/* _______________/ ÁREA DA PÁGINA DE FORMULÁRIO \_______________ */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
}

.formulario input {
    padding: 6px;
    font-size: 18px;
    background: rgba(150, 150, 150, 0.25);
    color: aliceblue;
    border-radius: 12px;
}
* {
    /* Garante que ao clicar, inputs não mudem de tamanho */
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: 2px solid #805e90;
    box-shadow: 0 0 5px #805e90;
}

.formulario textarea {
    height: 150px;
    font-size: 18px;
    background: rgba(150, 150, 150, 0.25);
    color: aliceblue;
    border-radius: 12px;
    padding: 10px;
    resize: none;
}

.formulario button {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: aliceblue;
    border-radius: 12px;
    cursor: pointer;
}

/*                 ________________                 */
/* _______________/ RESPONSIVIDADE \_______________ */
/*                `----------------´                */

/* TABLET */
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding: 40px 5%;
        text-align: center;
        gap: 40px;
    }

    .texto-hero {
        margin: auto;
    }

    .foto-perfil img {
        max-width: 300px;
        margin-left: 5%;
    }

    .sobre-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobre-texto {
        max-width: 80%;
    }

    .sobre-img img {
        width: 200px;
        height: 300px;
    }
}

/* CELULAR */
@media (max-width: 768px) {
    .logo h1 {
        font-size: 28px;
    }

    .hamburger {
        display: block;
    }

    .menu {
        /* Fica visível apenas após clicar no menu de hambúrguer */
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 80%;
        transform: translateX(33.33%);
        background: black;
        padding: 15px;
        border-radius: 12px;
        transition: 0.2s ease;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        font-size: 18px;
    }

    .hero {
        padding: 20px;
    }

    .titulos-hero h1 {
        font-size: 38px;
    }

    .titulos-hero h2 {
        font-size: 20px;
    }

    .texto-hero p {
        font-size: 18px;
    }

    .foto-perfil img {
        max-width: 250px;
    }

    .tipos-contato {
        flex-direction: column;
        justify-content: center;
    }

    .formulario {
        max-width: 90%;
    }
}

/* CELULAR PEQUENO */
@media (max-width: 480px) {
    .titulos-hero h1 {
        font-size: 30px;
    }

    .titulos-hero h2 {
        font-size: 18px;
    }

    .menu a {
        font-size: 16px;
    }

    .contatar {
        padding: 15px;
        font-size: 16px;
    }

    footer {
        font-size: 14px;
        padding: 15px;
    }
}