@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html {
    font-size: 110%; /* Aumenta a base de tamanho do Bootstrap */
}

:root {
    --bs-font-sans-serif: 'EB Garamond', serif;
    --bs-body-font-family: 'EB Garamond', serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: white;
    overflow-x: hidden;
}

main {
    flex: 1;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
}

/* _______________/ ÁREA DA NAVBAR \______________ */
.navbar-brand {
    /* Título do logo */
    font-family: 'EB Garamond', serif;
    color: white !important;
    font-size: 31px;
}

.nav-link {
    color: white !important;
    font-size: 22px;
    padding: 11px 17px !important;
    border-top: 4px solid transparent; /* Reserva o espaço para o hover não expandir o layout */
}

.nav-link:hover, .nav-link:focus-visible {
    color: #FF2978 !important;
    border-top: 4px solid #3a2ba1;
    transition: color 0.5s, border-top-color 0.5s;
}

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

/* _______________/ ÁREA DA PÁGINA PRINCIPAL \______________ */
.hero {
    display: flex;
    align-items: center;
}

.titulos-hero {
    display: flex;
    flex-direction: column-reverse;
}

.titulos-hero h1 {
    font-size: 60px;
    margin-top: auto;
}

.titulos-hero h2 {
    font-weight: 500;
}

.texto-hero p {
    margin-top: auto;
    font-size: 26px;
}

.contatar {
    /* Botão que redireciona para a página de contato */
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: #3a2ba1;
    padding: 22px;
    font-size: 20px;
    border-radius: 12px;
}

.contatar:hover {
    background: #FF2978;
    color: white;
    transition: 0.5s;
}

.foto-perfil img {
    max-width: 440px;
    width: 100%;
    border-radius: 12px;
    filter: contrast(110%) brightness(90%);
}

/* _______________/ ÁREA DA PÁGINA "SOBRE"  \______________ */
.titulo-sobre {
    /* Título da seção */
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: center;
}

.morcego {
    /* Ícone morcego animado */
    display: inline-block;
    animation: voar 1s infinite alternate;
}

@keyframes voar {
    /* Animação do morcego */
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}

.sobre-texto p {
    /* Texto da seção sobre */
    font-size: 20px;
    line-height: 1.5;
}

.sobre-img a {
    flex: 1 1 40%;
    max-width: 330px;
    display: flex;
}

@media (max-width: 767.98px) {
    .sobre-img a {
        flex: 1 1 100%;
        max-width: 80%;
    }
}

.sobre-img img {
    /* Imagens estilizadas */
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.sobre-img img:hover {
    transform: translateY(-5px) scale(1.03);
    /* Sombra em roxo escuro (da paleta do site) */
    box-shadow: 0 12px 25px rgba(58, 43, 161, 0.35);
}

/* _______________/ ÁREA DA PÁGINA DE CONTATO \______________ */
.secao-contato {
    color: white;
    text-align: center;
}

.titulo-contato {
    display: flex;
    flex-direction: column-reverse;
    text-transform: uppercase;
    line-height: 0;
}

.titulo-contato h1 {
    font-size: 26px;
}

.titulo-contato h2 {
    font-size: 35px;
}

.contato-cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 200px;
    /* Altera o tamanho do cartão */
    margin: 11px;
    color: white;
    text-decoration: none;
    transform-origin: center;
}

.contato-cartao img {
    width: 160px;
    height: 160px;
    object-fit: contain; /* Garante que a imagem não amasse */
    border-radius: 12px;
    margin-bottom: 10px;
}

/* _______________/ ÁREA DA PÁGINA DE FORMULÁRIO \______________ */
.formulario .form-control {
    font-size: 20px;
    background: rgba(150, 150, 150, 0.10);
    color: white;
    border-radius: 12px;
    border-color: rgba(200, 200, 200, 0.3);
}

.formulario .form-control::placeholder {
    /* Altera a cor do placeholder (texto de dica)*/
    color: rgba(240, 248, 255, 0.5);
}

.formulario textarea.form-control {
    height: 150px;
    resize: none;
}

* {
    /* Garante que ao clicar, inputs não mudem de tamanho */
    box-sizing: border-box;
}

.form-control:focus {
    outline: 2px solid #805e90 !important;
    box-shadow: 0 0 5px #805e90 !important;
    background: rgba(150, 150, 150, 0.25) !important;
    color: white !important;
    border-color: #805e90 !important;
}

.btn-submit {
    width: 100%;
    padding: 11px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid rgba(240, 248, 255, 0.4);
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #3a2ba1;
    border-color: #3a2ba1;
}